.addUniverse {
    position: fixed;
    height: 600px;
    background: rgb(219, 122, 138);
    width: 400px;
    left: 20px;
    border: 10px solid black;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around

}
